@import url('vendor/bootstrap.min.css');

body {
  padding-top: 0.6em;
  padding-bottom: 0;
}

a {
  color: #578e31;
}

hr {
  /*border-color: #578e31;*/
}

.gallery {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction:         row;
  -webkit-justify-content: space-between; /* Safari */
  justify-content:         space-between;
  -webkit-align-items: center; /* Safari */
  align-items:         center;
   -webkit-flex-wrap: wrap; /* Safari */
  flex-wrap:         wrap;
  max-height: 90px;
  overflow: hidden;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.gallery img {
  width: 120px; /* height 90 */
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 980px) {
  .gallery {
    max-height: 75px;
  }
  .gallery img {
    width: 100px;
  }
}
@media only screen and (max-width: 700px) {
  .gallery {
    max-height: 60px;
  }
  .gallery img {
    width: 80px;
  }
}
@media only screen and (max-width: 500px) {
  .gallery {
    max-height: 45px;
  }
  .gallery img {
    width: 60px;
  }
}

nav {
  margin: 0.4em 0 2em;
}

nav li {
  list-style: none;
}

nav li a:before {
  content: '↳'; /* ↵ */
  margin-right: 0.4em;
}

nav li a[href="/"]:before {
  content: '■';
}

nav li a.active {
  font-weight: bold;
  cursor: default;
  text-decoration: none;
}

body.form iframe,
body.calendar iframe {
  width: 100%;
  margin: 0 auto;
}

body.lead-event iframe {
  margin-top: 1em;
}

body.calendar iframe {
  max-width: 50em;
}

body.home header h1 {
  margin-bottom: 0;
}

body.home header h2 {
  margin: 0.2em 0 1.6em;
  font-style: italic;
  font-size: 1.4em;
  color: #555;
}

body.home footer {
  margin: 0 0 3.8em;
}

body > .container > section {
  margin-bottom: 3.8em;
}

.well {
  border: 3px solid #578e31;
  background-color: transparent;
  border-radius: 0.62em;
}

.panel-default .panel-heading {
  background-color: #8dae5d;
  font-size: 3em;
}

.panel-default .panel-title {
  font-size: 1.84rem;
}

.callout {
  min-width: 20em;
  max-width: 62%;
}

.callout img.feature {
  border: 0;
  border-radius: 0.38em;
  box-sizing: border-box;
  width: 100%;
  margin: 1em 0;
}

body.home .treelogo {
  display: inline-block;
  margin-right: 1em;
}

.spread {
  width: 100%;
}

.panel > .list-group:last-child {
  margin-bottom: 0;
}

.panel > .list-group:last-child .list-group-item:last-child {
  border-bottom: none;
}

@media only screen and (max-width: 560px) {
  body.calendar .container {
    padding-left: 0;
    padding-right: 0;
  }
}
